.pagination > li > a,
.pagination > li > span {
    color: grey;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: grey;
    border-color: grey;
}
.row {
    margin-bottom:10px;
}
.row label {
    margin-bottom:5px;
    font-weight:bold;
    width:280px;
    display:block;
}
.row select {
    width:300px;
    font-size:1.1em;
    border:1px solid #aaaaaa;
    padding:3px 5px;
}
#car_producers_wrapper {
    width: 310px;
    margin: 100px auto 0 auto;
}

